.map {
  display: block;
  width: 585px;
  height: 324px;
  margin: 0 auto;
  margin-top: 74px;

  @include vp-1199 {
    display: block;
    width: 100%;
    margin: 0;
    height: 340px;
  }

  @include vp-767 {
    height: 320px;
  }
}
