.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 1;
  background-color: transparent;
  border: 1px solid $color-default-white;
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.2s;

  @include vp-767 {
    width: 8px;
    height: 8px;
  }
}

.swiper-pagination-bullet-active {
  background: $color-default-white;
}
