.main__first-banner {
  background: url("../../img/clouds.png") right -15% no-repeat;

  @include vp-1199 {
    background: url("../../img/clouds-tablet.png") right -171% no-repeat;
  }

  @include vp-767 {
    background: url("../../img/clouds-phone.png") right 18% no-repeat;
  }
}

.main__second-banner {
  background: url("../../img/clouds-little.png") right 15% no-repeat;

  @include vp-1199 {
    background: none;
  }
}

.main__third-banner {
  background: url("../../img/clouds-left.png") left 36% no-repeat;

  @include vp-1199 {
    background: none;
  }
}
